* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease 0s;
}
#underlay {
  transition: all 0.3s ease 0s;
  height: 100px;
  padding: 5px 65px;
}

#navbar #logo {
  transition: all 0.3s ease 0s;
  width: 150px;
  height: auto;
}

#navbar #list-container {
  transition: all 0.3s ease 0s;
  float: right;
  /* border-bottom: solid #0755bc 1.5px; */
  border: none;
  border-radius: 0px;
  padding-top: 15px;
}

#navbar #list-container ul {
  font-size: 30px;
  padding: 20px;
  background: rgb(0, 0, 0, 0);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0);
  font-weight: 300;
}

#navbar #list-container ul li {
  display: inline-block;
}

/* @media (max-width: 950px) {
  #navbar #list-container ul li {
  }
} */

#navbar #list-container ul li a {
  color: FloralWhite;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 5px 13px;
}

a:hover {
  background: #0755bc;
  transition: 0.5s;
}

@media (max-width: 950px) {
  #navbar #list-container ul li a {
    font-size: 15px;
    font-weight: 800;
  }
}

#contact {
  height: 85vh;
}

#contact .box {
  height: inherit;
  padding-top: 110px;
  padding: 100px 10px 10px 10px;
  margin-bottom: 10px;
  padding-bottom: 200px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
  background: #d38bc9;
}

#contact .box h1 {
  font-size: 40px;
  text-align: center;
  font-weight: normal;
  text-decoration: overline;
  padding-bottom: 15%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* #contact .box h2{
    text-align: center;
    font-weight: normal;
  } */

#contact .box h3 {
  font-weight: normal;
  margin: 20;
  font-size: 22px;
  padding: 0.7vw;
  font-family: "Times New Roman", Times, serif;
}
/*
  .social-icons {
    border: 1px solid blanchedalmond;
  } */
/* #contact .inner-box input{
    width: 100%;
    padding: 24px;
    margin: auto;
    margin-bottom: 1vh;
    border-radius: 10px;
    background: White;
    border: 1px solid rgba(0,0,0,0.1);
  } */

#contact button {
  padding: 1.5vw;
  background: #02070a;
  color: FloralWhite;
  border-radius: 20px;
  border: none;
}

#contact button:hover {
  background-color: #0755bc;
}
.box {
  display: flex;
  flex-direction: row;
}
article {
  display: flex;
  flex-direction: column;
  padding-top: 8%;
  padding-left: 8%;
  width: 45%;
}

.section-right {
  padding-top: 50px;
  width: 55%;
}
#form-layout p {
  justify-content: center;
  padding: 24px;
  padding-left: 23%;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#form-layout input {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 24px;
  margin: auto;
  margin-right: 4vw;
  margin-bottom: 1vh;
  border-radius: 10px;
  background: White;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#footer {
  display: flex;
  background: #111;
  height: 20vh;
}

#footer .container {
  margin: auto;
  text-align: center;
  padding: 5vh 0vh 2vh 0vh;
  border-bottom: solid #0755bc 2px;
  border-radius: 5px;
  color: floralwhite;
  background: #111;
  width: 600px;
  margin-left: 450px;
}

.bttn {
  margin-left: 400px;
  margin-top: 30px;
}
