* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease 0s;
}
#underlay {
  transition: all 0.3s ease 0s;
  height: 100px;
  padding: 5px 65px;
}

#navbar #logo {
  transition: all 0.3s ease 0s;
  width: 150px;
  height: auto;
}

#navbar #list-container {
  transition: all 0.3s ease 0s;
  float: right;
  /* border-bottom: solid #0755bc 1.5px; */
  border: none;
  border-radius: 0px;
  padding-top: 15px;
}

#navbar #list-container ul {
  font-size: 30px;
  padding: 20px;
  background: rgb(0, 0, 0, 0);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0);
  font-weight: 300;
}

#navbar #list-container ul li {
  display: inline-block;
}

/* @media (max-width: 950px) {
  #navbar #list-container ul li {
  }
} */

#navbar #list-container ul li a {
  color: FloralWhite;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 5px 13px;
}

a:hover {
  background: #0755bc;
  transition: 0.5s;
}

@media (max-width: 950px) {
  #navbar #list-container ul li a {
    font-size: 15px;
    font-weight: 800;
  }
}

#preview {
  background: url("../Images/fruits3.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  height: 100vh;
}

#preview .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#preview .slogan {
  width: 50%;
  margin: auto;
  margin-top: 15vh;
  margin-bottom: 0vh;
}

#preview .slogan H1 {
  color: FloralWhite;
  font-size: 55px;
  text-align: center;
  font-weight: 400;
}

@media (max-width: 950px) {
  #preview .slogan H1 {
    font-size: 45px;
  }
}
@media (max-width: 950px) {
  #preview .join a {
    margin: 0 50px;
  }
}

#preview .join a:hover {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #0755bc;
}

.content p {
  margin: auto;
  width: 60%;
}

.content .quote {
  background-color: #7d85f1;
  margin: 50px auto;
  width: 60%;
  border-radius: 20px;
  transition: all 0.5s ease 0s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

#quote > span {
  font-weight: 400;
  font-size: 40px;
  padding-bottom: 20px;
}

.content #quote {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #ffffff;
  line-height: 40px;
  font-weight: 300;
  margin-left: 170px;
  justify-content: center;
}

.content .para {
  text-align: justify;
  font-size: 21px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0.7px;
  font-family: "Roboto", sans-serif;
  color: #4c4c4c;
}

#lower {
  background: #111;
  color: FloralWhite;
  height: 35vh;
  padding: 5vh;
  display: flex;
  justify-content: space-around;
}

#lower .left {
  background: #111;
  width: 25vw;
  margin-right: 0vw;
  align-items: center;
  border-right: 2px solid #0755bc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

#lower .left .container2 {
  text-align: center;
}

#lower .lowlist {
  width: 20vw;
  text-align: left;
}

#lower .lowlist h2 {
  font-size: 25px;
  height: 10vh;
}

#lower .lowlist ul {
  margin-left: 0.5vw;
  border-left: 2px solid #0755bc;
}

#lower .lowlist ul li {
  padding: 10px;
}

#lower .lowlist a {
  color: #999;
  font-size: 16px;
  font-weight: normal;
}

#lower .lowlist a:hover {
  color: #0755bc;
  background: none;
}

#topbutton {
  padding: 1vw 1.5vw;
  background: #02070a;
  color: FloralWhite;
  border: none;
  border-radius: 20px;
}

#topbutton:hover {
  background-color: #0755bc;
}

#footer {
  display: flex;
  background: #111;
  height: 100px;
}

#footer .container {
  margin: auto;
  text-align: center;
  padding: 5vh 0vh 2vh 0vh;
  border-bottom: solid #0755bc 2px;
  border-radius: 5px;
  color: floralwhite;
  background: #111;
  width: 600px;
  margin-left: 450px;
}

.topbutton-container {
  margin-right: 40px;
  margin-top: 45px;
}

#topbutton {
  border: 1px solid #0755bc;
  font-size: 15px;
}
